* {
  margin: 0;
}

html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  margin-bottom: -50px;
}

.content:after {
  content: "";
  display: block;
}

#header, footer {
  background: #002145;
}

#header {
  min-height: 100px;
}

a:hover {
  cursor: pointer;
}

#options {
  padding-bottom: 0;
}

#options > div > div {
  display: flex;
  flex: 1;
}

.well[well-name] {
  padding-top: 14px;
  flex: 1
}

.well[well-name]:before {
  content: attr(well-name);
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}

.help-block {
  margin-top: -15px;
}

.timestamp {
  font-size: 1.3rem;
  margin-left: 1rem;
}

.modal-lg {
  width: 90vw !important;
  margin-top: 5vh;
}

.modal-body > .row > .col-sm-10,
.modal-body > .row > .col-sm-10 > .shiny-spinner-output-container,
.modal-body > .row > .col-sm-10 > .shiny-spinner-output-container > #plot {
  height: 100% !important;
}

.modal-body > .row > .col-sm-2 > .shiny-input-container, .inputs > .well > .shiny-input-container:not(:first-child) {
  margin-top: 15px;
}

.popover {
  overflow-y: auto;
  max-height: 500px;
  max-width: 893px;
}

.noUi-connect {
  background-color: #002145 !important;
}

.spark > canvas {
  height: 100% !important;
}

input.form-control[disabled] {
  display: none;
}

.dt-buttons {
  float: right !important;
}

.dataTables_filter {
  margin-right: 10px;
}

.dataTables_filter > label {
  margin-bottom: 0;
  margin-top: 0.25em;
}

input[type="search"] {
  font-weight: normal;
  line-height: 1.6em;
}

footer, .content:after {
  height: 50px;
}

footer {
  color: white;
  line-height: 50px;
  margin-left: -15px;
  margin-right: -15px;
}

footer > a:focus, footer > a:hover {
  color: lightgrey;
}
